services:
  project1-php:
    image: "php:8.2-fpm-alpine"
    container_name: "project1-php"
    restart: unless-stopped
    
    working_dir: /var/www/html
    
    volumes:
      - ./projects/project1:/var/www/html
    
    networks:
      - stackored-net

  project1-web:
    image: "nginx:alpine"
    container_name: "project1-web"
    restart: unless-stopped
    
    volumes:
      - ./projects/project1:/var/www/html
      - ./projects/project1/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    
    networks:
      - stackored-net
    
    depends_on:
      - project1-php

  project2-web:
    image: "php:8.3-apache"
    container_name: "project2-web"
    restart: unless-stopped
    
    working_dir: /var/www/html
    
    volumes:
      - ./projects/project2:/var/www/html
    
    command: >
      bash -c "
      sed -i 's|/var/www/html|/var/www/html/public|g' /etc/apache2/sites-available/000-default.conf &&
      apache2-foreground
      "
    
    networks:
      - stackored-net
