services:

  project1-php:
    image: "php:8.2-fpm"
    container_name: "project1-php"
    restart: unless-stopped
    
    volumes:
      - /Users/fahrettinaksoy/Desktop/stackored/stackored/projects/project1:/var/www/html
    
    networks:
      - stackored-net

  project1-web:
    image: "nginx:alpine"
    container_name: "project1-web"
    restart: unless-stopped
    
    volumes:
      - /Users/fahrettinaksoy/Desktop/stackored/stackored/projects/project1:/var/www/html
      - /Users/fahrettinaksoy/Desktop/stackored/stackored/projects/project1/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    
    networks:
      - stackored-net
    
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.project1.rule=Host(`project1.loc`)"
      - "traefik.http.routers.project1.entrypoints=websecure"
      - "traefik.http.routers.project1.tls=true"
      - "traefik.http.services.project1.loadbalancer.server.port=80"
    
    depends_on:
      - project1-php

  project2-php:
    image: "php:8.3-fpm"
    container_name: "project2-php"
    restart: unless-stopped
    
    volumes:
      - /Users/fahrettinaksoy/Desktop/stackored/stackored/projects/project2:/var/www/html
    
    networks:
      - stackored-net

  project3-php:
    image: "php:8.0-fpm"
    container_name: "project3-php"
    restart: unless-stopped
    
    volumes:
      - /Users/fahrettinaksoy/Desktop/stackored/stackored/projects/project3:/var/www/html
    
    networks:
      - stackored-net

  project3-web:
    image: "nginx:alpine"
    container_name: "project3-web"
    restart: unless-stopped
    
    volumes:
      - /Users/fahrettinaksoy/Desktop/stackored/stackored/projects/project3:/var/www/html
      - /Users/fahrettinaksoy/Desktop/stackored/stackored/projects/project3/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    
    networks:
      - stackored-net
    
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.project3.rule=Host(`project3.loc`)"
      - "traefik.http.routers.project3.entrypoints=websecure"
      - "traefik.http.routers.project3.tls=true"
      - "traefik.http.services.project3.loadbalancer.server.port=80"
    
    depends_on:
      - project3-php

