http:
  routers:
    traefik:
      rule: "Host(`traefik.stackored.loc`)"
      entryPoints:
        - websecure
      service: api@internal
      tls: {}
    rabbitmq:
      rule: "Host(`rabbitmq.stackored.loc`)"
      entryPoints:
        - websecure
      service: rabbitmq
      tls: {}
    netdata:
      rule: "Host(`netdata.stackored.loc`)"
      entryPoints:
        - websecure
      service: netdata
      tls: {}
    phpmyadmin:
      rule: "Host(`phpmyadmin.stackored.loc`)"
      entryPoints:
        - websecure
      service: phpmyadmin
      tls: {}
    adminer:
      rule: "Host(`adminer.stackored.loc`)"
      entryPoints:
        - websecure
      service: adminer
      tls: {}
    phppgadmin:
      rule: "Host(`phppgadmin.stackored.loc`)"
      entryPoints:
        - websecure
      service: phppgadmin
      tls: {}
    phpmemcachedadmin:
      rule: "Host(`phpmemcachedadmin.stackored.loc`)"
      entryPoints:
        - websecure
      service: phpmemcachedadmin
      tls: {}
    phpmongo:
      rule: "Host(`phpmongo.stackored.loc`)"
      entryPoints:
        - websecure
      service: phpmongo
      tls: {}
    opcache:
      rule: "Host(`opcache.stackored.loc`)"
      entryPoints:
        - websecure
      service: opcache
      tls: {}

  services:
    rabbitmq:
      loadBalancer:
        servers:
          - url: "http://stackored-rabbitmq:15672"
    netdata:
      loadBalancer:
        servers:
          - url: "http://stackored-netdata:19999"
    phpmyadmin:
      loadBalancer:
        servers:
          - url: "http://stackored-tools:80"
    adminer:
      loadBalancer:
        servers:
          - url: "http://stackored-tools:80"
    phppgadmin:
      loadBalancer:
        servers:
          - url: "http://stackored-tools:80"
    phpmemcachedadmin:
      loadBalancer:
        servers:
          - url: "http://stackored-tools:80"
    phpmongo:
      loadBalancer:
        servers:
          - url: "http://stackored-tools:80"
    opcache:
      loadBalancer:
        servers:
          - url: "http://stackored-tools:80"

# TLS Configuration - Force use of core/certs certificates
tls:
  stores:
    default:
      defaultCertificate:
        certFile: /certs/stackored-wildcard.crt
        keyFile: /certs/stackored-wildcard.key
  certificates:
    - certFile: /certs/stackored-wildcard.crt
      keyFile: /certs/stackored-wildcard.key
  options:
    default:
      minVersion: VersionTLS12
      sniStrict: false
